// ================================================
// File Upload
// ================================================

#multiFileUpload {
  margin-bottom: 2rem;
}

#multiFileUploadInput {
  display: none;
}

#dragFileElement {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.file-upload-dropzone {
  outline: 3px dashed black;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 60px 15px;
  transition: outline-offset 0.1s ease-in-out, background-color 0.1s linear;
}

/* replicate button padding on paragraph */
.file-upload-dropzone p {
  padding: 8px 10px 7px;
  display: inline-block;
  margin: 0;
}
.file-upload-dropzone button {
  display: inline-block;
  margin: 0;
}


.file-upload-dropzone.drag-active {
  background-color: lightgray;
  outline: 3px dashed darkgray;
}

.multi-file-upload--filelist {
  border-bottom: 1px solid black;

  svg {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
  .multi-file-upload--filelist-icon {
    width: 30px;
    height: 30px;
  }
  .multi-file-upload--loading-spinner {
    display: inline-block;
    vertical-align: text-bottom;
   .loading-spinner {
      position: relative;
      min-height: 25px;
      width: 35px;
    }
  }
  .multi-file-upload--filelist-filename span {
    margin-right: 2px;
  }
  .error, .error span {
    color: red;
    font-weight: bold;
  }
  .success {
    color: green;
    font-weight: bold;
  }
}

.multi-file-upload--error-summary {
  color: red;
  font-weight: bold;
}

/* to make best use of space on screen we need
 * to add some smaller grid columns
 * these are based on the thisApp-grid system
 * and follow the same 100% on small screen
 * reduced on large screen pattern
 */
.thisApp-grid-column-two-twelfths {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
.thisApp-grid-column-ten-twelfths {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 40.0625em) {
  .thisApp-grid-column-two-twelfths {
    width: 16.6%;
    float: left;
  }
  .thisApp-grid-column-ten-twelfths {
    width: 83.2%;
    float: left;
    min-height: 1px; /* stops div collapsing if no error message being shown */
  }
  .multi-file-upload--filelist-icon {
    float: left;
  }
}


// ================================================
// Sample
// ================================================

.thisApp-container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.thisApp-grid-row-full {
  width: 100%;
  float: left;
}

.thisApp-grid-column-three-quarters {
  width: 75%;
  float: left;
}