.feedback-banner--container {
  background-color: #f3f2f1;
  color: #0b0c0c;
  border-top: 1px solid #b1b4b6;
  outline: 0;
  padding: 0 15px;
}

.feedback-banner-text--container {
  padding: 20px 0;
}

@media (min-width: 641px) {
  .feedback-banner--heading {
    font-size: 1rem;
  }

  .feedback-banner-text--container {
    margin: 0 15px;
    padding: 20px 0;
  }
}
